.container {
    display: flex;
    flex-direction: column;
}

img {
    width: 700px;
    width: 700px;
    align-self: center;
}

p {
    text-align: center;
}

.linkGoBack {
    font-size: x-large;
    font-weight: 600;
}